@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&display=swap');

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html{
        scroll-behavior:smooth;
    }

    html, body{
        min-height: 300vh;
    }

    body{
        /*min-height: calc(3000px + 100vh);*/
        font-family: 'M PLUS 1 Code', sans-serif;
    }

    #video1{
        display: none;
    }

    .webgl{
        position: fixed;
        top: 0;
        left: 0;
        outline: none;
    }


/* HTML NORMAL */

    .contenedor{
        position: absolute;
        z-index: 1;
        width: 100%;
        min-height: 300vh;
        display: grid;
        place-content: left;
        transition: 150ms all ease-in;
    }

    .contenido{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

/* Navegacion */
    
    .navegation{
        position: fixed;
        top: 15px;
        right: 20px;
        text-align: right;
        transform-origin: bottom right;
        transform: rotate(-90deg) translateX(28px)
    }

    .navegation a {
        font-size: 2.5rem;
        color: #ffc872;
        margin-left: 30px;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        opacity: .5;
        transition: 100ms all ease-in-out;
    }

    .navegation li a:hover {
        opacity: 1;
        color: #7ace67;
        transform: scale(1.1);
    }

    .navegation ul li{
        list-style: none;
    }

/* Header */

    .header{
        min-height: 100vh;
        padding: 20px 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: 150ms all ease-in;
        /*background: rgba(0, 0, 0, 0.5);*/
        /*border-right: 3px white solid;*/
    }

        .header h1{
            color: #ffe3b3;
            font-size: 8vw;
        }

        .header h2{
            color: #ffe3b3;
            font-size: 4vw;
        }

        .header h2 .auto-input{
            color: #7ace67;
        }

/* Work */
    .work{
        width: 100%;
        min-height: 100vh;
        padding: 0 50px ;
        display: flex;
        flex-direction:column;
        justify-content: space-around;
    }

    .work h2{
        font-size: 5vw;
        color: #7ace67;
    }

    .work #SubTitle{
        color: #ffe3b3;
        font-size: 1vw;
        opacity: 0.5;
        transform: translateX(33px);
        margin: 20px 0 30px 0 ;
    }
    .work .SubWork{
        width: 100%;
        min-height: 100vh;
    }
    .work .SubWork #bola2{
        width: 10px;
        height: 10px;
        opacity: 0.5;
        background: #fd676c;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        transform: translateX(20px) translateY(-1px);
        transition: 150ms all;
    }
    .work .SubWork:hover #SubTitle{
        opacity: 0.8;
    }
    .work .SubWork:hover #bola2{
        opacity: 1;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
    }

    .work #iconoMenu{
        font-size: 3.5vw;
        color: #7ace67;
        margin-left: 20px;
        margin-top: 7px;
    }

    .work ul li{
        list-style: none;
        margin-bottom: 25px;
    }
    .work ul{
        transform: translateX(-10px);
    }

    .title{
        display: flex;
        flex-direction:row;
        align-items: center;
    }

    .work #gradient{
        width: 10px;
        height: 10px;
        margin-left: 0;
        margin-top: 0;
        margin-right: 15px;
        background: linear-gradient(rgba(0,255,0,0), #7ace67);
        transform: rotate(90deg) scaleY(0) scaleX(5);
        transition: 200ms all ease-in-out;
    }

    .work .SubWork:hover #gradient{
        margin-right: 95px;
        transform: rotate(90deg) translateY(-45px) scaleY(10)  scaleX(5);
    }
    
    .work .SubLab:hover #gradient{
        margin-right: 95px;
        transform: rotate(90deg) translateX(2.25rem) translateY(-45px) scaleY(10)  scaleX(5);
    }

    /* LIs */

        #gradienteBlock{
            width: 30px;
            height: 10px;
            margin-left: 0;
            margin-top: 0;
            margin-right: 15px;
            background: linear-gradient(rgba(0,255,0,0), #7ace67);
            transform: rotate(90deg) scaleY(0) scaleX(1);
            transition: 200ms all ease-in-out;
        }
        .work a:hover #gradienteBlock{
            margin-right: 90px;
            transform: rotate(90deg) translateY(-45px) scaleY(10)  scaleX(1);
        }


        .linkContenido{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .linkContenido h3{
            color: #ffe3b3;
            font-size: 1.8vw;
            opacity: 0.5;
            transition: 150ms all;
        }
        .linkContenido #bola{
            width: 10px;
            height: 10px;
            background: #fd676c;
            border-top-left-radius: 50%;
            border-bottom-left-radius: 50%;
            margin-left: 20px;
            transition: 150ms all;
        }
        .linkContenido h4{
            color: #ffe3b3;
            font-size: 1vw;
            margin-left: 20px;
            opacity: 0.4;
            transition: 150ms all;
        }

        .work a:hover .linkContenido h3{
            opacity: 1;
        }
        .work a:hover .linkContenido h4{
            opacity: 0.8;
            color: #7ace67;
        }
        .work a:hover .linkContenido #bola{
            border-radius: 50%;
        }


/* About */
    .about{
        width: 100%;
        min-height: 100vh;
        padding: 0 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .about h2{
        font-size: 4rem;
        color: #7ace67;
    }

    .about p{
        color: #ffe3b3;
        font-size: 2;
    }

/* Footer */
    .footer{
        position: fixed;
        bottom: 230px;
        right: 20px;
        text-align: right;
        transform-origin: bottom right;
        transform: rotate(-90deg) translateX(28px)
    }

    .footer a {
        font-size: 1.8rem;
        color: #ffc872;
        margin-right: 30px;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        opacity: .5;
        transition: 100ms all ease-in-out;
    }

    .footer li a:hover {
        opacity: 1;
        color: #fd676c;
        transform: scale(1.1);
    }

    .footer ul li{
        list-style: none;
    }

    @media screen and (min-width: 1400px) { /* Pantalla Grande */
        .navegation a{
            font-size: 3rem
        }
        .navegation{
            top: 0px;
        }
        .footer a{
            font-size: 2rem;
        }
        .footer{
            bottom: 240px;
        }
    }

    @media screen and (max-width: 500px) { /* Pantalla Pequeña */
        .header h1{
            font-size: 4rem;
        }
        .header h2{
            font-size: 2.85ren;
        }
        
    }